*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


section{
    padding: 60px 0;
    overflow: hidden;
}

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, .6)), url("../images/sunset-1373171_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero .container{
    padding-top: 80px;
}

#hero h1{
    font-size: 3.5rem;
    font-weight: 650;
    margin: 0 0 15px 0;
}

#hero h2{
    width: 35vw;
    font-size: 1.75rem;
    margin-bottom: 25px;
    font-weight: 450;
    letter-spacing: .5px;
}

#hero .btn_get_started{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: 1.15rem;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 80px;
    border: 2px #fff solid;
    background-color: transparent;
    color: #fff;
    transition: 1s all;
}

#hero .btn_get_started:hover{
    background-color: #fff;
    color: #000;
}